.dropdown-section {
  display: flex;
  justify-content: space-between;
  .collapse-container {
    width: 45%;
  }
  .collapse-content {
    width: 100%;
  }
  margin-bottom: 35px;
  margin-top: 20px;
}

.section-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  .right-container {
    width: fit-content;
    .host {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-width: fit-content;
      gap: 10px;
      .host-img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
      span {
        color: #ff6060;
        font-size: 18px;
        text-align: right;
        width: 50%;
      }
    }
  }
  .left-container {
    width: fit-content;
    color: #ff6060;
    p {
      margin-top: 0;
      font-size: 18px;
    }
    h2 {
      margin: 0;
      font-size: 36px;
      font-weight: 500;
      line-height: 142.6%;
    }
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;

  .tag-bubble {
    background-color: #ff6060;
    color: white;
    padding: 5px 2px;
    border-radius: 10px;
    font-size: 14px;
    min-width: 115px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .dropdown-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    .collapse-container {
      width: 100%;
    }
  }

  .section-container {
    flex-direction: column;
    row-gap: 25px;
    .right-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .host {
        .host-img {
          width: 32px;
          height: 32px;
        }
        span {
          font-size: 12px;
        }
      }
    }
    .left-container {
      width: 100%;
      p {
        font-size: 14px;
      }
      h2 {
        font-size: 18px;
      }
    }
  }
  .tags-container {
    .tag-bubble {
      font-size: 10px;
      min-width: 84px;
      border-radius: 5px;
    }
  }
}
