.gallerie-style {
  padding: 50px;
  border-radius: 25px;
  background: #f6f6f6;
  width: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 50px;
  margin-bottom: 50px;
}

