.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Ajoutez cette ligne */
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 415px; /* Ajustez la hauteur selon vos besoins */
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste la taille de l'image sans la déformer */
    opacity: 0;
  }
  
  .image-container img.active {
    opacity: 1;
  }
  
  .arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .prev img,
  .next img {
    width: 46.7px;
    height: 79.2px;
  }
  
  .indicator {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 49%;
  }