.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 415px;
  border-radius: 25px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.image-container img.active {
  opacity: 1;
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev img,
.next img {
  width: 46.7px;
  height: 79.2px;
}

.indicator {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  left: 49%;
}

@media screen and (max-width: 768px) {
  .image-container {
    height: 255px;
    border-radius: 10px;
  }
  .arrow-button {
    top: 45%;
  }
  .prev img,
  .next img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .indicator {
    display: none;
  }
}
